@charset "UTF-8";
header {
	width: 100%;
	height: 70px;
	position: fixed;
	z-index: 100;
	background: #FFF;
	opacity: 0.85;
	border: 1px solid;
	margin-top: -2px;
}

.loginInfoBox {
	float: right;
	text-align: right; 
	vertical-align:bottom;
	margin-right: 20px;
}
