<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CafeDeHorang</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BBSListServlet</display-name>
    <servlet-name>BBSListServlet</servlet-name>
    <servlet-class>BBSListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BBSListServlet</servlet-name>
    <url-pattern>/BBSListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BBSupdate</display-name>
    <servlet-name>BBSupdate</servlet-name>
    <servlet-class>BBSupdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BBSupdate</servlet-name>
    <url-pattern>/BBSupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BBSRead</display-name>
    <servlet-name>BBSRead</servlet-name>
    <servlet-class>BBSRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BBSRead</servlet-name>
    <url-pattern>/BBSRead</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BBSDelete</display-name>
    <servlet-name>BBSDelete</servlet-name>
    <servlet-class>BBSDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BBSDelete</servlet-name>
    <url-pattern>/BBSDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>S_BBSList</display-name>
    <servlet-name>S_BBSList</servlet-name>
    <servlet-class>S_BBSList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S_BBSList</servlet-name>
    <url-pattern>/S_BBSList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>S_BBSupdate</display-name>
    <servlet-name>S_BBSupdate</servlet-name>
    <servlet-class>S_BBSupdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S_BBSupdate</servlet-name>
    <url-pattern>/S_BBSupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>S_BBSListServlet</display-name>
    <servlet-name>S_BBSListServlet</servlet-name>
    <servlet-class>S_BBSListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S_BBSListServlet</servlet-name>
    <url-pattern>/S_BBSListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>S_BBSDELETE</display-name>
    <servlet-name>S_BBSDELETE</servlet-name>
    <servlet-class>S_BBSDELETE</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S_BBSDELETE</servlet-name>
    <url-pattern>/S_BBSDELETE</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>S_BBSDelete</display-name>
    <servlet-name>S_BBSDelete</servlet-name>
    <servlet-class>S_BBSDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S_BBSDelete</servlet-name>
    <url-pattern>/S_BBSDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>nickCheck</display-name>
    <servlet-name>nickCheck</servlet-name>
    <servlet-class>nickCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>nickCheck</servlet-name>
    <url-pattern>/nickCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BBSsearch</display-name>
    <servlet-name>BBSsearch</servlet-name>
    <servlet-class>BBSsearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BBSsearch</servlet-name>
    <url-pattern>/BBSsearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>S_BBSRead</display-name>
    <servlet-name>S_BBSRead</servlet-name>
    <servlet-class>S_BBSRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S_BBSRead</servlet-name>
    <url-pattern>/S_BBSRead</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>/tlds/tools.tld</taglib-uri>
      <taglib-location>/WEB-INF/tlds/tools.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>gcmTestMain</display-name>
    <servlet-name>gcmTestMain</servlet-name>
    <servlet-class>gcm.gcmTestMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gcmTestMain</servlet-name>
    <url-pattern>/gcmTestMain.do</url-pattern>
  </servlet-mapping>
</web-app>